<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img [src]="drawing?.image_url"/>
    </div>
    <div class="col-md-8">
      <h4>Interpretations</h4>
      <ul>
        <li *ngFor="let interpretation of interpretationGroup">
          <strong>{{interpretation[0]}}</strong>
          <span (click)="showExtendedNames = !showExtendedNames" [hidden]="showExtendedNames">
            - {{formatNames(interpretation[1])}} <span class="small">v</span>
          </span>
          <ul (click)="showExtendedNames = !showExtendedNames"  [hidden]="!showExtendedNames">
            <li *ngFor="let username of interpretation[1]">
              {{username}}
            </li>
          </ul>
        </li>
      </ul>
      <hr/>
      <h4>Submit an interpretation</h4>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="text">Text</label>
          <input type="text" class="form-control" id="text"
                 required
                 [(ngModel)]="interpretation.text" name="text"
                 #name="ngModel">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!interpretation.text">Submit</button>
      </form>
    </div>
  </div>
</div>
